# Server Configs
PORT=5000
MONGODB_URI=mongodb+srv://...
TELEGRAM_BOT_TOKEN=...
MINI_APP_URL=https://...
ADMIN_TELEGRAM_ID=7346983056

# Dynamic Client Configs (Served via /api/config)
ADSGRAM_BLOCK_ID=0
SUPPORT_TELEGRAM_LINK=https://t.me/...
TELEGRAM_CHANNEL_USERNAME=...
